
#map {
    width: 100vw;
    height: 100vh;
}

.floating-range {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 9;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.floating-content {
    display: flex;
    align-items: center;
}

.txt-zoom {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}